.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #a2a5b9;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  background:#f0f0f0;
  background: #0b0e11;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background: #181a20;
}
.auth-form-container h2{

  color:rgb(93, 93, 93);
  color: #fefefee3;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 3rem 5rem;
    border: 1px solid white;
    border:none;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 2px solid #aba6c0;
  border:none;
  background:#303137;
  color: #fefefe;
  border-radius: 10px;
}

input:focus {

  background: #f0f0f0;
  border: transparent;
  color: #333;
}

button {
  border: none;
  background: linear-gradient(90.21deg, #1a5dec -5.91%, #1f23ec 111.58%);
  background:#fbd435;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #fefefe;
  color: #333;
}

button:hover{

  opacity: 0.9;



}

.link-btn {
  background: none;
  color: white;
  color: #a2a5b9;
  
}

.link-btn span{

  color:#fbd335a3;
  opacity:1
}

.link-btn span:hover{

  color:#1a5dec;
  color: #fbd335a3;
  opacity:0.7;
}

.full{

  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.full .reg_check{

  font-size: 1em;
  flex-direction: row;
}

.full p{

  font-size: 0.7em;
  padding: 0px 5px;
}

.full p span{

  padding: 0 2.5px;
  position: relative;
  
}
.full p a{

  color:#1a5dec;
  color: #fbd335a3;
  opacity:1;
  text-decoration: none;
}

.full p a:hover{

  opacity:0.7;
}

.label-select{

  display: flex;
    flex-direction: inherit;
}


.label-select .select{
  padding: 10px;
    width: 60%;
    margin-bottom: 8px;
    margin-top: 14px;
    border-radius: 6px;
    background:#303137;
    color:#a2a5b9;
    border:none;

}





 .option select-items{

  color:#a2a5b9 !important;

}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1em;
  margin-bottom: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fbd435;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fbd435;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}